* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
  }
  
  ul {
    list-style: none;
  }
  
  ul li {
    padding: 5px;
    background: #f4f4f4;
    margin: 2px 0;
  }
  
  header {
    background: #f4f4f4;
    padding: 1rem;
    text-align: center;
  }
  
  .container {
    margin: auto;
    width: 500px;
    overflow: auto;
    padding: 4rem 2rem;
  }
  
  #my-form {
    padding: 2rem;
    background: #f4f4f4;
  }
  
  #my-form label {
    display: block;
  }
  
  #my-form input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 15px;
  }

  .premium {
    margin: 0rem 5rem;
    padding: 15px 20px;
    font-size: 18px;
  
  }
  .Leaderboard{
    margin: 1rem 0rem;
    padding: 15px 20px;
    font-size: 18px;
  }
  .Logout{
    margin: 1rem 1rem;
    padding: 15px 50px;
    font-size: 18px;
  }
  #category{
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 15px;
  }
  
  .btn {
    display: block;
    width: 100%;
    padding: 10px 15px;
    border: 0;
    background: #333;
    color: #fff;
    border-radius: 5px;
    margin: 7px 0;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .btn:hover {
    background: #444;
    transition: .2s;
  }
  
  .bg-dark {
    background: #333;
    color: #fff;
  }
  
  .error {
    background: orangered;
    color: #fff;
    padding: 5px;
    margin: 5px;
  }

  .users {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    
  }
  button{
    background-color: #333;
    color: white;
    padding: 7px 15px;
    margin: 8px 3px;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    
    
  }
  .edit-button:hover ,
  .dlt-button:hover{
    background-color: #444;
    transition: .2s;
  }

  .expenses{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    padding: 0rem 1rem;

  }
  a{
    font-size: 35px;
    font-weight: bold;
    color: rgb(255, 0, 0);
    text-align: center;
  }